body{
    font-family: sans-serif;
    overflow: hidden;
}


.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    border: 3px solid black;
    text-align: center;
    padding: 10px;
}

.title, .subtitle{
    user-select: none;
}