body{
    font-family: sans-serif;
}


.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    border: 3px solid black;
    text-align: center;
}

/* .title{

}

.subtitle{

} */

